* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    /* overflow: hidden; */
}

.header {
    background: #FFF
}

.container__smallone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.header__inner {
    box-shadow: 0px 1px 0px 0px #E5E5E5;
}

.header__top {
    background: #333;
}

.header__inner--top {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767.98px) {
    .header__inner--top {
        flex-direction: column;
        /* gap: 1 0px; */
    }
}

.header__inner--part1 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__inner--part1__img {
    width: 15px;
    height: 18px;
}

.header__inner--part1__info {
    color: #B3B3B3;
    /* Body Tiny/Body Tiny, 400 */
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--part2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__inner--language {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__inner--language__info {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--currency {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__inner--currency__info {
    color: var(--Gray-Scale-Gray-600, #666);
    text-align: center;

    /* Body Tiny/Body Tiny, 400 */
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--part2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__inner--part2__left,
.header__inner--part2__right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--part2__left {
    padding-right: 21px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__inner--part2__left::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #666;
    right: 0;
}

.header__inner--middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner--brand {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 28px 0;
}

.header__inner--brand__name {
    color: #002603;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    /* 118.75% */
    letter-spacing: -0.96px;
}

.header__inner--searchbar {
    display: inline-flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
}

.header__inner--searchbar__container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px 12px 16px;
}

.header__inner--searchbar__button {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0px 6px 6px 0px;
    background: #00B207;
    height: 100%;
    white-space: nowrap;
}

.header__inner--searchbar__button--text {
    color: #FFF;
    /* Body Small/Body Small, 600 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 16.8px */
}

.header__inner--shopping {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.header__inner--shopping__icon {
    width: 32px;
    height: 32px;
}

.header__inner--shopping__img {
    color: #1A1A1A;
    cursor: pointer;
}

.header__inner--shopping__img:hover {
    color: red;
}

.header__inner--shopping__info {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
}

.header__inner--shopping__info__icon {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.header__inner--shopping__info__badge {
    position: absolute;
    top: -2px;
    left: 66px;
    background-color: green;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    padding: 3.5px 6px 4.5px 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
}

.header__inner--shopping__info::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 24px;
    background: #CCC;
    left: 40px;
}

.header__inner--shopping__cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.header__inner--shopping__cart--text {
    color: #4D4D4D;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 13.2px */
}

.header__inner--shopping__cart--price {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
}

.header__nav {
    background: #F2F2F2;
}

.header__inner--navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
}

.header__inner--navigation__left {
    display: flex;
    align-items: center;
}

.header__inner--navigation__allcategories {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    gap: 8px;
    background: #00B207;
}

.header__inner--navigation__allcategories--menu {
    width: 24px;
    height: 24px;
}

.header__inner--navigation__allcategories--text {
    width: 112px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.header__inner--navigation__allcategories--icon {
    width: 18px;
    height: 18px;
    padding: 0px 3.75px;
}

.header__inner--navigation__navlinks {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 32px;
}

.header__inner--navigation__navlinks--link {
    color: #808080;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}

.header__inner--navigation__navlinks--link:hover {
    color: #00B207;
}

.header__inner--navigation__navlinks--link__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.header__inner--navigation__navlinks--link__icon {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0px 3.333px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1195.98px) {
    .header__inner--navigation__right {
        display: none;
    }

}

.header__inner--navigation__callnow {
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__inner--navigation__callnow--icon {
    width: 28px;
    height: 28px;
}

.header__inner--navigation__callnow--text {
    color: #1A1A1A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.header__header {
    width: 1920px;
    height: 700px;
    flex-shrink: 0;
}

/*Hero */
.hero {
    padding: 68px 0 82px;
    position: relative;
}

.hero__main {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;

}

@media screen and (max-width: 991.98px) {
    .hero__main {
        flex-direction: column;
    }

}

.hero__media {
    flex: 1;
}

.hero__media--img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.hero__media--sales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: #FF8A00;
    border-radius: 50%;
    position: relative;
    left: 510px;
    top: -233px;
    transform: translateY(-50%);
}

.hero__media--70 {
    color: #FFF;
    text-align: center;

    /* Heading 05/Heading 05 — 600 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 38.4px */
}

.hero__media--off {
    color: #FFF;
    text-align: center;

    /* CAPS LOCK/Large Caps Lock */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.hero__arrow--left {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
}

.hero__arrow--right {
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.hero__dots {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}

.hero__content {
    flex: 1;
}

.hero__content--welcome {
    color: #00B207;
    /* text-align: center; */
    font-family: "Segoe Script";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.hero__content--fresh {
    color: #002603;
    width: 536px;
    /* Heading 01/Heading 01 — 600 */
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 67.2px */
}

.hero__content--shipping {
    width: 535px;
    color: #618062;
    margin-top: 20px;
    /* Body Large/Body Large, 400 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.hero__content--button {
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 43px;
    margin-top: 20px;
    background: #00B207;
}

.hero__content--button__text {
    color: var(--Gray-Scale-White, #FFF);

    /* Body Medium/Body Medium, 600 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
}

.bg1 {
    position: relative;
}

.bg__featured {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1320px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    box-shadow: 0px 16px 48px 0px rgba(14, 107, 21, 0.08);
    position: relative;
    top: 110px;
}

.bg__feature {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 16px;
    background: #FFF;
}

.bg__feature1 {
    border-radius: 8px 0px 0px 8px;
}

.bg__feature4 {
    border-radius: 0px 8px 8px 0px;
}

.bg__feature1,
.bg__feature2,
.bg__feature3 {
    border-right: 1px solid #E5E5E5;
}

.bg__feature--media {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    border: 1px solid #E5E5E5;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg__feature--icon {
    width: 50%;
    flex-shrink: 0;
}

.bg__feature--text1 {
    color: #1A1A1A;

    /* Body Large/Body Large, 600 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 27px */
}

.bg__feature--text2 {
    color: #999;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.bg__feature:hover {
    background-color: #00B207;
    color: white;
}

.bg__feature:hover p {
    color: white;
}

.bg2 {
    display: flex;
    justify-content: center;
    background: #EDF2EE;
    height: 1371px;
    top: 1052px;
}

.bg2__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    top: 200px;
    width: 100%;
}

.bg2__header {
    color: #1A1A1A;
    text-align: center;

    /* Heading 03/Heading 03 — 600 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.bg2__menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    cursor: pointer;
}

.bg2__menu--hover:hover {
    color: #00B207;
    border-bottom: 3px solid #00B207;
    padding: 0px 12px 8px 12px;
}

.bg2__menu--text {
    color: #808080;

    /* Body Medium/Body Medium, 500 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.bg2__menu--slash {
    position: inherit;
    top: 5px;
    width: 1px;
    height: 16px;
    color: #B4CCB4;
    opacity: 80%;
}

.bg2__grid {
    position: relative;
    top: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bg2__card {
    position: relative;
    display: flex;
    width: 330px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border: 1px solid #EDF2EE;
    background: #FFFFFF;

}

.bg2__card--img {
    width: 320px;
    height: 300px;
}

.bg2__sale {
    display: inline-flex;
    padding: 3px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #EA4B48;
    position: relative;
    top: -280px;
    left: 20px;
}

.bg2__sale--text {
    color: #FFF;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.bg2__cta {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.bg2__cta--img {
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;

}

.bg2__card:hover>.bg2__cta {
    display: inline-flex;
}

.bg2__info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 11px;

}

.bg2__info--text {
    width: 290px;
    color: #2B572E;

    /* Body Medium/Body Medium, 400 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.bg2__info--price {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.bg2__info--current-price {
    color: #002603;

    /* Body Large/Body Large, 500 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.bg2__info--original-price {
    color: #7A997C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    text-decoration: line-through;
}

.bg2__rating {
    display: inline-flex;
    align-items: flex-start;
    gap: 2px;
    margin-left: 20px;
}

.bg2__cart {
    display: inline-flex;
    padding: 13px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #DAE5DA;
    position: relative;
    left: 135px;
    top: -50px;
}

.bg2__cart .bg2__cart--img__bagwhite {
    display: none;
}

.bg2__card:hover .bg2__cart .bg2__cart--img__bagblack {
    display: none;
}

.bg2__card:hover .bg2__cart .bg2__cart--img__bagwhite {
    display: inline;
}

.bg2__card:hover {
    cursor: pointer;
    border: 1px solid #00B207;
    box-shadow: 0 0 35px rgba(0, 128, 0, 0.15);
}

.bg2__card:hover .bg2__cart {
    background: #00B207;
}

.container__bannar {
    display: grid;
    width: 1320px;
    height: 470px;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    flex-shrink: 0;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.bannar__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.bannar__card--img {
    width: 424px;
    height: 255px;
    flex-shrink: 0;
}

.bannar__card--info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    margin: 10px 0px 0px 24px;
    /* top: -2px;
    left: -399px; */
}

.bannar__card1--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.bannar__card1--text1 {
    color: #FFF;
    text-align: justify;

    /* Heading 05/Heading 05 — 600 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 38.4px */
    width: 183px;
    height: 76px;
}

.bannar__card1--text2__1 {
    color: rgba(255, 255, 255, 0.80);
    text-align: justify;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.bannar__card1--text2__2 {
    color: #FFF;

    /* Body XL/Body XL, 500 */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.bannar__card--button {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 43px;
    background: #FFF;
}

.bannar__card--button--text {
    color: #00B207;
    text-align: justify;

    /* Body Small/Body Small, 600 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 16.8px */
}

.bannar__card--button--img {
    width: 15px;
    height: 12.049px;
}

.bannar__card--info2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    margin: 46px 26px 46px 236px;
}

.bannar__card2--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.bannar__card2--text1 {
    color: #002603;

    /* CAPS LOCK/Medium Caps Lock */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.bannar__card2--text2 {
    color: #002603;

    /* Heading 05/Heading 05 — 600 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 38.4px */
}

.bannar__card3--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.bannar__card3--text1 {
    color: #002603;

    /* CAPS LOCK/Medium Caps Lock */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.bannar__card3--text2 {
    color: #002603;
    width: 188px;
    /* Heading 05/Heading 05 — 600 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 38.4px */
}

.container__deals {
    width: 100%;
    height: 527px;
    flex-shrink: 0;
    background: #EDF2EE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deals__img1 {
    width: 500px;
    height: 308px;
    flex-shrink: 0;
    margin: 102px 0px 117px 146px;
    position: relative;
    top: 0;
    left: -250px;
}

.deals__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    position: absolute;
}

.deals__heading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.deals__heading--text1 {
    color: #00B207;
    text-align: center;

    /* CAPS LOCK/Large Caps Lock */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.deals__heading--text2 {
    width: 508px;
    color: #002603;
    text-align: center;

    /* Heading 03/Heading 03 — 600 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.deals__timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.deals__timer--frame {
    display: flex;
    padding: 20px 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: #FFF;
}

.deals__timer--number {
    width: 80px;
    color: #00B207;
    text-align: center;

    /* Heading 05/Heading 05 — 400 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 38.4px */
}

.deals__timer--text {
    color: #618062;
    text-align: center;

    /* CAPS LOCK/Medium Caps Lock */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.deals__button {
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 43px;
    background: #00B207;
    width: 191px;
    height: 51px;
    white-space: nowrap;
}

.deals__button--text {
    color: #FFF;

    /* Body Medium/Body Medium, 600 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
}

.deals__img2 {
    width: 550px;
    height: 495px;
    flex-shrink: 0;
    margin: 32px 80px 0 0;
    position: relative;
    top: 0;
    left: 190px;
}

.container__featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    margin-top: 100px;
    margin-bottom: 100px;
}

.featured__heading {
    width: 508px;
    color: #002603;
    text-align: center;

    /* Heading 03/Heading 03 — 600 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.featured__products {
    display: flex;
    justify-content: center;

}

.featured__grid {
    position: relative;
    margin-top: 50px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(264px, 1fr)); */
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
}

.featured__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    width: 264px;
    height: 327px;
    flex-shrink: 0;
    overflow: hidden;
}

.featured__card--img {
    display: block;
    width: 254px;
    height: 230px;
}

.featured__sale {
    display: inline-flex;
    padding: 3px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #EA4B48;
    position: absolute;
    top: 11px;
    left: 11px;
}

.featured__sale--text {
    color: #FFF;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.featured__cta {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.featured__cta--img {
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: #FFF;

}

.featured__card:hover>.featured__cta {
    display: inline-flex;
}

.featured__info {
    display: inline-flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.featured__info--text {
    width: 240px;
    color: #4D4D4D;

    /* Body Medium/Body Medium, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.featured__info--price {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.featured__info--current-price {
    color: #1A1A1A;

    /* Body Large/Body Large, 500 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.featured__info--original-price {
    color: #999;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    text-decoration: line-through;
}

.featured__rating {
    display: inline-flex;
    align-items: flex-start;
    gap: 2px;
    margin-left: 12px;
}

.featured__cart {
    display: inline-flex;
    padding: 13px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #DAE5DA;
    position: relative;
    left: 88px;
    top: -52px;
}

.featured__cart .featured__cart--img__bagwhite {
    display: none;
}

.featured__card:hover .featured__cart .featured__cart--img__bagblack {
    display: none;
}

.featured__card:hover .featured__cart .featured__cart--img__bagwhite {
    display: inline;
}

.featured__card:hover {
    cursor: pointer;
    border: 1px solid #00B207;
    box-shadow: 0 0 35px rgba(0, 128, 0, 0.15);
}

.featured__card:hover .featured__cart {
    background: #00B207;
}

.container__testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EDF2EE;
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonials__heading {
    width: 508px;
    color: #002603;
    text-align: center;

    /* Heading 03/Heading 03 — 600 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
    margin-bottom: 50px;
}

.testimonials__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1320px;
    gap: 24px;
    margin-bottom: 460px;
}

.testimonials__card {
    width: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.testimonials__feedback {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 424px;
    height: 240px;
    gap: 24px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    background: #FFF;
}

.testimonials__card--img {
    width: 40px;
    height: 32px;
    flex-shrink: 0;
}

.testimonials__card--text {
    width: 360px;
    color: #406B42;
    text-align: center;

    /* Body Medium/Body Medium, 400 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.testimonials__polygon {
    position: relative;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #FFF;
    top: -1px;
    left: 200px;
}

.testimonials__card--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.testimonials__card--info--text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__card--info--text1 {
    color: #002603;
    text-align: center;

    /* Body Medium/Body Medium, 500 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.testimonials__card--info--text2 {
    color: #618062;
    text-align: center;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.container__video {
    display: flex;
    justify-content: center;
    background: #FFF;
    height: 850px;
}

.video__content {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, -40%);
}

.video__img {
    width: 1320px;
    height: 740px;
    flex-shrink: 0;
}

.video__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: relative;
    top: -487px;
}

.video__context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.video__context--text1 {
    color: #FFF;
    text-align: center;
    font-family: "Segoe Script";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 16px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.video__context--text2 {
    width: 495px;
    color: #FFF;
    text-align: center;

    /* Heading 04/Heading 04 — 400 */
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 43.2px */
}

.container__news {
    width: 100%;
    height: 555px;
    flex-shrink: 0;
    background: #EDF2EE;
}

.container__latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%, -55%);
}

.latest__heading {
    width: 508px;
    color: #002603;
    text-align: center;

    /* Heading 03/Heading 03 — 600 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
    margin-bottom: 50px;
}

.latest__frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    position: relative;
}

.latest__card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
}

.latest__card--img {
    padding: 24px 24px 0 24px;
}

.latest__date1 {
    position: absolute;
    top: 230px;
    left: 44px;
    display: flex;
    padding: 6px 16px 10px 17px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    background: #FFF;
}

.latest__date2 {
    position: absolute;
    top: 230px;
    left: 489px;
    display: flex;
    padding: 6px 16px 10px 17px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    background: #FFF;
}

.latest__date3 {
    position: absolute;
    top: 230px;
    left: 940px;
    display: flex;
    padding: 6px 16px 10px 17px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    background: #FFF;
}

.latest__card--info {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 0px 0px 8px 8px;
}

.latest__card--context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.latest__card--info--text1 {
    width: 376px;
    color: #002603;

    /* Body Large/Body Large, 500 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.latest__card--info--text2 {
    width: 376px;
    color: #618062;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.latest__card--button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.latest__card--button--text {
    color: #00B207;

    /* Body Medium/Body Medium, 600 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(180, 204, 180, 0.7);
    position: relative;
    top: -210px;
}

.container__subscribe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1278px;
    margin-top: 50px;
    position: relative;
}

.subscribe__brand {
    display: inline-flex;
    align-items: center;
    gap: 9.761px;
    margin-right: 114.19px;
}

.subscribe__brand--img {
    width: 39.044px;
    height: 39.044px;
}

.subscribe__brand--text {
    color: #002603;
    font-family: Poppins;
    font-size: 39.044px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.365px;
    /* 118.75% */
    letter-spacing: -1.171px;
}

.subscribe__content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.subscribe__content--text {
    color: #002603;

    /* Body XXL/Body XXL, 500 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 36px */
}

.subscribe__content--text2 {
    width: 448px;
    color: #7A997C;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.subscribe__field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 610px;
}

.subscribe__field--input {
    display: flex;
    width: 491px;
    padding: 14px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 46px;
    border: 1px solid #DAE5DA;
    background: #FFF;
}

.subscribe__field--button {
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 43px;
    background: #00B207;
    position: relative;
    left: -90px;
}

.subscribe__field--button__text {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

/* Footer*/
.footer {
    padding-top: 100px;
    background: #002603;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 490px;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .footer__img--left {
        display: none;
    }

    .footer__img--right {
        display: none;
    }
}

.footer__img--left {
    position: relative;
    top: 0px;
    left: -31px;
    width: 337.129px;
    height: 388.25px;
    flex-shrink: 0;
}

.footer__img--right {
    position: relative;
    top: 0px;
    left: 31px;
    width: 337.129px;
    height: 388.25px;
    flex-shrink: 0;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

@media (max-width: 991.98px) {
    .footer__inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.footer__col {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991.98px) {
    .footer__col {
        flex-direction: column;
        align-items: center;
    }
}

.logo__brand {
    color: #FFF;

    /* Body XL/Body XL, 500 */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
}

.footer__desc {
    margin: 16px 0;
    max-width: 336px;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

@media (max-width: 1199.98px) {
    .footer__desc {
        max-width: 300px;
    }
}

@media (max-width: 991.98px) {
    .footer__desc {
        max-width: 100%;
        text-align: center;
    }
}

.footer__contacts {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
}

@media (max-width: 1199.98px) {
    .footer__contacts {
        gap: 10px;
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
    .footer__contacts {
        flex-direction: column;
        gap: 7px;
    }
}

.footer__contacts--info {
    padding-bottom: 6px;
    color: #FFF;
    font-weight: 500;
    line-height: 150%;
    box-shadow: 0px 1.5px 0px 0px #20b526;
}

.footer__span {
    color: #808080;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
}

.footer__title {
    margin-bottom: 16px;
    color: #FFF;
    font-weight: 500;
    line-height: 150%;
    font-size: 16px;
}


@media (max-width: 1199.98px) {
    .footer__title {
        font-size: 12px;
    }
}

@media (max-width: 575.98px) {
    .footer__title {
        font-size: 16px;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
}

@media (max-width: 991.98px) {
    .footer__list {
        flex-direction: initial;
        align-items: center;
        justify-content: center;
    }
}

.footer__item--link {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.25s ease;
    cursor: pointer;
}

.footer__item--link:hover {
    color: #FFF;
}

@media (max-width: 1199.98px) {
    .footer__item--link {
        font-size: 10px;
    }
}

@media (max-width: 991.98px) {
    .footer__item--link {
        font-size: 14px;
    }
}

.footer__media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__media--img {
    margin: 0px 12px 10px 0px;
}

/* Nocopyright */
.container__nocopyright {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1B421D;
}

@media (max-width: 767.98px) {
    .nocopyright {
        flex-direction: column;
        gap: 10px;
    }
}

.nocopyright__desc {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

@media (max-width: 575.98px) {
    .nocopyright__desc {
        font-size: 12px;
    }
}