* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.header {
    background: #FFF
}

.container__smallone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.header__inner {
    box-shadow: 0px 1px 0px 0px #E5E5E5;
}

.header__top {
    background: #333;
}

.header__inner--top {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767.98px) {
    .header__inner--top {
        flex-direction: column;
        /* gap: 1 0px; */
    }
}

.header__inner--part1 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__inner--part1__img {
    width: 15px;
    height: 18px;
}

.header__inner--part1__info {
    color: #B3B3B3;
    /* Body Tiny/Body Tiny, 400 */
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--part2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__inner--language {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__inner--language__info {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--currency {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__inner--currency__info {
    color: var(--Gray-Scale-Gray-600, #666);
    text-align: center;

    /* Body Tiny/Body Tiny, 400 */
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--part2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__inner--part2__left,
.header__inner--part2__right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.header__inner--part2__left {
    padding-right: 21px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__inner--part2__left::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #666;
    right: 0;
}

.header__inner--middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner--brand {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 28px 0;
}

.header__inner--brand__name {
    color: #002603;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    /* 118.75% */
    letter-spacing: -0.96px;
}

.header__inner--searchbar {
    display: inline-flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
}

.header__inner--searchbar__container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px 12px 16px;
}

.header__inner--searchbar__button {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0px 6px 6px 0px;
    background: #00B207;
    height: 100%;
    white-space: nowrap;
}

.header__inner--searchbar__button--text {
    color: #FFF;
    /* Body Small/Body Small, 600 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 16.8px */
}

.header__inner--shopping {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.header__inner--shopping__icon {
    width: 32px;
    height: 32px;
}

.header__inner--shopping__img {
    color: #1A1A1A;
    cursor: pointer;
}

.header__inner--shopping__img:hover {
    color: red;
}

.header__inner--shopping__info {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
}

.header__inner--shopping__info__icon {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.header__inner--shopping__info__badge {
    position: absolute;
    top: -2px;
    left: 66px;
    background-color: green;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    padding: 3.5px 6px 4.5px 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
}

.header__inner--shopping__info::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 24px;
    background: #CCC;
    left: 40px;
}

.header__inner--shopping__cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.header__inner--shopping__cart--text {
    color: #4D4D4D;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 13.2px */
}

.header__inner--shopping__cart--price {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
}

.header__nav {
    background: #F2F2F2;
}

.header__inner--navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
}

.header__inner--navigation__left {
    display: flex;
    align-items: center;
}

.header__inner--navigation__allcategories {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    gap: 8px;
    background: #00B207;
}

.header__inner--navigation__allcategories--menu {
    width: 24px;
    height: 24px;
}

.header__inner--navigation__allcategories--text {
    width: 112px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.header__inner--navigation__allcategories--icon {
    width: 18px;
    height: 18px;
    padding: 0px 3.75px;
}

.header__inner--navigation__navlinks {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 32px;
}

.header__inner--navigation__navlinks--link {
    color: #808080;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}

.header__inner--navigation__navlinks--link:hover {
    color: #00B207;
}

.header__inner--navigation__navlinks--link__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.header__inner--navigation__navlinks--link__icon {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0px 3.333px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1195.98px) {
    .header__inner--navigation__right {
        display: none;
    }

}

.header__inner--navigation__callnow {
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__inner--navigation__callnow--icon {
    width: 28px;
    height: 28px;
}

.header__inner--navigation__callnow--text {
    color: #1A1A1A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.header__header {
    width: 1920px;
    height: 700px;
    flex-shrink: 0;
}

/*Hero */
.hero {
    padding: 68px 0 82px;
    position: relative;
}

.hero__main {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 991.98px) {
    .hero__main {
        flex-direction: column;
    }

}

.hero__media {
    flex: 1;
}

.hero__media--img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.hero__media--sales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: #FF8A00;
    border-radius: 50%;
    position: relative;
    left: 510px;
    top: -233px;
    transform: translateY(-50%);
}

.hero__media--70 {
    color: #FFF;
    text-align: center;

    /* Heading 05/Heading 05 — 600 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 38.4px */
}

.hero__media--off {
    color: #FFF;
    text-align: center;

    /* CAPS LOCK/Large Caps Lock */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.hero__arrow--left {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
}

.hero__arrow--right {
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.hero__dots {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}

.hero__content {
    flex: 1;
}

.hero__content--welcome {
    color: #00B207;
    /* text-align: center; */
    font-family: "Segoe Script";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.hero__content--fresh {
    color: #002603;
    width: 536px;
    /* Heading 01/Heading 01 — 600 */
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 67.2px */
}

.hero__content--shipping {
    width: 535px;
    color: #618062;
    margin-top: 20px;
    /* Body Large/Body Large, 400 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.hero__content--button {
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 43px;
    margin-top: 20px;
    background: #00B207;
}

.hero__content--button__text {
    color: var(--Gray-Scale-White, #FFF);

    /* Body Medium/Body Medium, 600 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
}

.bg1 {
    position: relative;
}

.bg__featured {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1320px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    box-shadow: 0px 16px 48px 0px rgba(14, 107, 21, 0.08);
    position: relative;
    top: 110px;
}

.bg__feature {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 16px;
    background: #FFF;
}

.bg__feature1 {
    border-radius: 8px 0px 0px 8px;
}

.bg__feature4 {
    border-radius: 0px 8px 8px 0px;
}

.bg__feature1,
.bg__feature2,
.bg__feature3 {
    border-right: 1px solid #E5E5E5;
}

.bg__feature--media {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    border: 1px solid #E5E5E5;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg__feature--icon {
    width: 50%;
    flex-shrink: 0;
}

.bg__feature--text1 {
    color: #1A1A1A;

    /* Body Large/Body Large, 600 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 27px */
}

.bg__feature--text2 {
    color: #999;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.bg__feature:hover {
    background-color: #00B207;
    color: white;
}

.bg__feature:hover p {
    color: white;
}

.bg2 {
    display: flex;
    justify-content: center;
    background: #EDF2EE;
    height: 1321px;
    top: 1052px;
}

.bg2__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    top: 200px;
    width: 100%;
}

.bg2__header {
    color: #1A1A1A;
    text-align: center;

    /* Heading 03/Heading 03 — 600 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.bg2__menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    cursor: pointer;
}

.bg2__menu--hover:hover {
    color: #00B207;
    border-bottom: 3px solid #00B207;
    padding: 0px 12px 8px 12px;
}

.bg2__menu--text {
    color: #808080;

    /* Body Medium/Body Medium, 500 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.bg2__menu--slash {
    position: inherit;
    top: 5px;
    width: 1px;
    height: 16px;
    color: #B4CCB4;
    opacity: 80%;
}

.bg2__grid {
    position: relative;
    top: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bg2__card {
    position: relative;
    display: flex;
    width: 330px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border: 1px solid #EDF2EE;
    background: #FFFFFF;
    
}

.bg2__card--img {
    width: 320px;
    height: 300px;
}

.bg2__sale {
    display: inline-flex;
    padding: 3px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #EA4B48;
    position: relative;
    top: -280px;
    left: 20px;
}

.bg2__sale--text {
    color: #FFF;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.bg2__cta {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.bg2__cta--img {
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    
}

.bg2__card:hover > .bg2__cta {
    display: inline-flex;
}

.bg2__info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 11px;

}

.bg2__info--text {
    width: 290px;
    color: #2B572E;

    /* Body Medium/Body Medium, 400 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.bg2__info--price {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.bg2__info--current-price {
    color: #002603;

    /* Body Large/Body Large, 500 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.bg2__info--original-price {
    color: #7A997C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    text-decoration: line-through;
}

.bg2__rating {
    display: inline-flex;
    align-items: flex-start;
    gap: 2px;
    margin-left: 20px;
}

.bg2__cart {
    display: inline-flex;
    padding: 13px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #DAE5DA;
    position: relative;
    left: 135px;
    top: -50px;
}

.bg2__cart .bg2__cart--img__bagwhite {
    display: none;
}

.bg2__card:hover .bg2__cart .bg2__cart--img__bagblack {
    display: none;
}

.bg2__card:hover .bg2__cart .bg2__cart--img__bagwhite {
    display: inline;
}

.bg2__card:hover {
    cursor: pointer;
    border: 1px solid #00B207;
    box-shadow: 0 0 35px rgba(0, 128, 0, 0.15);
}

.bg2__card:hover .bg2__cart {
    background: #00B207;
}